li{
  list-style: none;
  margin-bottom: 10px;
}

a.enlace-eliminar{
  margin-left: 10px;
  text-decoration: none;
  font-size: 30px;
}

.tachado{
  color: green;
  text-decoration: line-through;
}

h1{
  color:mediumorchid;
}

h2{
  color: palevioletred;
}
