<h1>TO DO LIST</h1>
<h2><label for="tarea">Tarea por hacer:</label>
<input placeholder="Escribe aquí tu tarea" type="text" [(ngModel)]="nombreTarea" id="tarea">
<button [disabled]="!nombreTarea" (click)="guardarTarea()">Agregar</button>
</h2>

<ul>
  <li *ngFor="let tarea of tareas; let indice=index;"[class.tachado]="tarea.terminada">
    <input [(ngModel)]="tarea.terminada" (change)="cambiarEstadoDeTarea()" type="checkbox">
    {{tarea.nombre}}
    <a (click)="eliminarTarea(indice)"class="enlace-eliminar">&times;</a>
  </li>
</ul>

<router-outlet></router-outlet>
